.example-container {
    height: 93vh;
    background-color: white;
}
mat-sidenav, mat-sidenav-content {
    height: 100%;
    background-color: white;
}
mat-toolbar {
       background-color: white;
}